.player {
	margin: 0 auto;
	background: green;
	text-align: center;
}

.container {
	margin: 0 auto 0 auto;
}

button {
	padding: 2%;
	font-size: 300%;
	border-radius: 50%;
	background: blue;
	border: none;
	outline: none;
}

.lifeTotal, .commDamage {
	display: inline-block;
	width: 1%;
	margin-right: auto;
	margin-left: auto;
	padding: 3%;
	font-size: 200%;
}